* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

/* reset css */

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* mobile */

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.01em;
  color: #2b292d;
}

/* header */

header {
  background-color: #fdded8;
  text-align: center;
  padding: 154px 15px;
}

header h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2b292d;
  margin-bottom: 24px;
}

header p {
  margin-bottom: 24px;
}

header div {
  display: flex;
  justify-content: center;
}

.main-button {
  width: 140px;
  height: 48px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.05em;
}

.main-button.apply {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3040c4;
  color: white;
  margin-right: 8px;
}

.main-button.learn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #3040c4;
}

/* main */

.section1 {
  background-color: #f4f5f7;
  padding: 80px 15px;
}

.section1 strong {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3636363636;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
}

.learn-effect-1 p {
  margin-bottom: 40px;
}

.program {
  padding: 80px 15px;
}

.sub-title {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.program > strong {
  color: #009b4d;
}

.main-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.0294117647;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

.program p {
  margin-bottom: 32px;
}

.program li {
  width: 290px;
  height: 291px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.box1,
.box2,
.box3 {
  background-repeat: no-repeat;
  background-size: auto 195px;
  background-position: center 24px;
}

.box1 {
  background-image: url("./assets/img-fulltime-campus.png");
  margin-bottom: 20px;
}

.box2 {
  background-image: url("./assets/img-fulltime-remote.png");
  margin-bottom: 20px;
}

.box3 {
  background-image: url("./assets/img-parttime-flex.png");
}

.program li strong {
  position: relative;
  top: 235px;
  font-size: 18px;
  line-height: 1.3333333333;
  letter-spacing: -0.02em;
}

.program li:hover {
  cursor: pointer;
  color: white;
  background-color: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
}

.curriculum {
  padding: 80px 15px;
}

.curriculum-content strong {
  color: #0189d1;
}

.curriculum-content p {
  margin-bottom: 32px;
}

.curriculum-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3040c4;
  color: white;
  margin-bottom: 48px;
}

.curriculum-sub {
  font-size: 15px;
  line-height: 1.4666666667;
  letter-spacing: -0.01em;
}

.curriculum-sub-1 {
  margin-bottom: 40px;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f8fa;
  padding: 65px 15px 40px;
}

.stay-us-content {
  text-align: center;
}

.stay-us-image {
  width: 191px;
  height: 190px;
  background-image: url("./assets/img-banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 40px;
}

.stay-us-content h2 {
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 16px;
}

.stay-us-content p {
  margin-bottom: 24px;
}

.stay-us-content input {
  display: inline-block;
  width: 290px;
  height: 48px;
  border-radius: 2px;
  background-color: white;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #7b7b7e;
  padding-left: 16px;
  margin-bottom: 8px;
}

.stay-us-content button {
  width: 290px;
  height: 48px;
  border-radius: 2px;
  background-color: #3040c4;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  color: white;
  margin-bottom: 8px;
}

.stay-us-content span {
  font-size: 13px;
  line-height: 1.5384615385;
  color: #7b7b7e;
}

.stay-us-content span a {
  text-decoration: underline;
  color: #3040c4;
}

footer {
  padding: 24px 15px;
}

footer a {
  display: block;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: -0.01em;
  color: #807f81;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 120px 255px;
  }

  header h1 {
    display: block;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.0285714286;
    letter-spacing: -0.05em;
    color: #2b292d;
    margin-bottom: 32px;
  }

  header p {
    width: 370px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4545454545;
    letter-spacing: -0.01em;
    color: #2b292d;
    margin-bottom: 32px;
  }

  .main-button {
    display: flex;
  }

  .main-button {
    text-decoration: none;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5555555556;
    letter-spacing: -0.05em;
  }

  .main-button.apply {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 56px;
    border-radius: 2px;
    background-color: #3040c4;
    color: white;
    margin-right: 16px;
  }

  .main-button.learn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 56px;
    border-radius: 2px;
    background-color: white;
    color: #3040c4;
  }

  /* main */

  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 255px;
  }

  .learn-effect-1 {
    width: 370px;
    margin-right: 110px;
  }

  .learn-effect-2 {
    width: 450px;
  }

  .section1 strong {
    display: block;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3076923077;
    letter-spacing: -0.04em;
    color: #2b292d;
    margin-bottom: 16px;
  }

  .learn-effect-1 p {
    margin-bottom: 0;
  }

  .section1 p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4545454545;
    letter-spacing: -0.01em;
    color: #2b292d;
  }

  .program {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 255px 95px;
  }

  .program > strong {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.0909090909;
    letter-spacing: -0.01em;
    color: #009b4d;
    margin-bottom: 16px;
  }

  .program h3 {
    width: 465px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #2b292d;
    margin-bottom: 32px;
  }

  .program p {
    width: 770px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4545454545;
    letter-spacing: -0.01em;
    color: #2b292d;
    margin-bottom: 72px;
  }

  .program ul {
    list-style: none;
    padding-left: 0;
    display: flex;
  }

  .program li {
    width: 290px;
    height: 300px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #2b292d;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    transition: all 250ms ease-in;
  }

  .program .box1 {
    background-size: 142px auto;
    background-position: center 24px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .program .box2 {
    background-size: 146px auto;
    background-position: center 24px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .program .box3 {
    background-size: 122px auto;
    background-position: center 24px;
    margin-right: 30px;
  }

  .program ul strong {
    position: relative;
    top: 242px;
  }

  .curriculum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 255px 95px;
  }

  .curriculum-main {
    display: flex;
    margin-bottom: 24px;
  }

  .curriculum-image {
    width: 450px;
    height: 450px;
    padding: 12px;
    background-image: url("./assets/img-curriculum.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .curriculum-content {
    margin-right: 60px;
  }

  .curriculum-content strong {
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.0909090909;
    letter-spacing: -0.01em;
    color: #0189d1;
    margin-bottom: 16px;
  }

  .curriculum-content h3 {
    width: 450px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #2b292d;
    margin-bottom: 32px;
  }

  .curriculum-content p {
    width: 450px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4545454545;
    letter-spacing: -0.01em;
    color: #2b292d;
    margin-bottom: 72px;
  }

  .curriculum-content a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 56px;
    border-radius: 2px;
    background-color: #3040c4;
    color: white;
  }

  .curriculum-sub {
    display: flex;
  }

  .curriculum-sub-1,
  .curriculum-sub-2 {
    width: 450px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4444444444;
    letter-spacing: -0.01em;
    color: #2b292d;
  }

  .curriculum-sub-1 {
    margin-right: 60px;
  }

  .curriculum-sub strong {
    font-weight: 700;
  }

  .section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 255px;
  }

  .stay-us-image {
    width: 287px;
    height: 285px;
    background-image: url("./assets/img-banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 112px;
  }

  .stay-us-content {
    text-align: left;
  }

  .stay-us-content h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #2b292d;
    margin-bottom: 16px;
  }

  .stay-us-content p {
    width: 530px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4545454545;
    letter-spacing: -0.01em;
    color: #2b292d;
    margin-bottom: 24px;
  }

  .stay-us-content input,
  button {
    border: none;
  }

  .stay-us-content input {
    width: 362px;
    height: 56px;
    border-radius: 2px;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3333333333;
    letter-spacing: -0.01em;
    color: #7b7b7e;
    margin-right: 8px;
    margin-bottom: 4px;
    padding: 0 0 0 16px;
  }

  .stay-us-content button {
    width: 160px;
    height: 56px;
    border-radius: 2px;
    background-color: #3040c4;
    font-size: 18px;
    line-height: 1.3333333333;
    letter-spacing: -0.02em;
    padding: 16px 28px;
    color: white;
  }

  .stay-us-content span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    color: #7b7b7e;
  }

  .stay-us-content span a {
    color: #3040c4;
  }

  footer {
    padding: 16px 255px;
  }

  footer ul {
    display: flex;
    list-style: none;
    padding-left: 0;
  }

  footer li a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: -0.01em;
    color: #807f81;
    margin-right: 16px;
    margin-bottom: 0;
  }
}
